<form name="form1" action="controllerForm" method="post">   
    <input type="text" name="id" id="id" placeholder="id"><br>
    <input type="text" name="nome" id="nome" placeholder="nome"><br>
    <input type="text" name="idade" id="idade" placeholder="idade"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adcionar">
</form>