<h1>Ola sou select</h1>

<table>
    <tr>
        <td>Action</td>
        <td>Id</td>
        <td>Nome</td>
        <td>idade</td>
    </tr>
{{!-- Esta é forma que o node usa para entrar em objetos, lembrando que data foi um nome escolhido --}}
{{#data}}
    <tr>
        <td>
            <a href="update"><img src="/img/editar.png" alt="editar" width="15%"></a>
            <a href="deletar"><img src="/img/deletar.png" alt="deletar" width="15%"></a>
        </td>
        <td>{{ id }}</td>
        <td>{{ nome }}</td>
        <td>{{ idade }}</td>
    </tr>
{{/data}}
</table>
