<form name="form1" action="/controllerUpdate" method="post">
    <div class="form-group">
        <input type="hidden" class="form-control" name="id" id="id" value="{{ id }}" placeholder="Codigo"><br>
    </div>   
    <div class="form-group">
         <input type="text" class="form-control" name="nome" id="nome" value="{{ nome }}" placeholder="nome"><br>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="idade" id="idade" value="{{ idade }}" placeholder="idade"><br>
    </div>   
    <input class="btn btn-primary" type="submit" name="btnSubmit" id="btnSubmit" value="Adcionar">
</form>